/resources/genome
/resources/primers
/resources/adaptors
/.snakemake
/logs
/Analysis
/workflow/old_approach
Snakefile.bak
workflow/common/__pycache__/utils.cpython-310.pyc
gene_list.tmp
workflow_dag.svg
/resources/config/1-metasheet.csv
/resources/config/2-metasheet.csv
/resources/metadata/1-samples.csv
/resources/metadata/1-trimmed_samples.csv
/resources/metadata/2-samples.csv
/workflow/utils/SRR4450428/
/workflow/utils/SRR4450428_R1.fastq.gz
/workflow/utils/SRR4450428_R2.fastq.gz
/workflow/utils/SRR4450429/
/workflow/utils/SRR4450429_R1.fastq.gz
/workflow/utils/SRR4450429_R2.fastq.gz
/workflow/utils/SRR4450430/
/workflow/utils/SRR4450430_R1.fastq.gz
/workflow/utils/SRR4450430_R2.fastq.gz
/workflow/utils/SRR4450431/
/workflow/utils/SRR4450431_R1.fastq.gz
/workflow/utils/SRR4450431_R2.fastq.gz
/workflow/utils/SRR4450432/
/workflow/utils/SRR4450432_R1.fastq.gz
/workflow/utils/SRR4450432_R2.fastq.gz
/workflow/utils/SRR4450433/
/workflow/utils/SRR4450433_R1.fastq.gz
/workflow/utils/SRR4450433_R2.fastq.gz
/workflow/utils/SRR4450434/
/workflow/utils/SRR4450434_R1.fastq.gz
/workflow/utils/SRR4450434_R2.fastq.gz
/workflow/utils/SRR4450435/
/workflow/utils/SRR4450435_1.fastq.gz
/workflow/utils/SRR4450435_2.fastq
/workflow/utils/SRR4450435_2.fastq.gz
/workflow/utils/all_remaining_download_sra.sh
/workflow/utils/astrocytes_download_sra.sh
/workflow/utils/download_sra_alternative.sh
/workflow/utils/download_sra_fixed.sh
/workflow/utils/mircoglia_download_sra.sh
/workflow/utils/prefetch_751844.log
/workflow/utils/prefetch_759298.log
/workflow/utils/prefetch_760775.log
/workflow/utils/prefetch_760796.log
/workflow/utils/prefetch_760816.log
/workflow/utils/prefetch_761165.log
/workflow/utils/prefetch_772531.log
/workflow/utils/prefetch_772917.log
/workflow/utils/prefetch_773313.log
/workflow/utils/sra_download_773319.log
/workflow/utils/prefetch_821101.log
/workflow/utils/prefetch_821408.log
/workflow/utils/prefetch_821414.log
/clean_and_re-run.sh
/gabi_download_sra.sh
